{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">
    {% if user.liked_messages %}
    {% for message in user.liked_messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ message.user_id }}">
        <img src="{{ message.user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user_id }}">@{{ message.user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
        <a>
          {% if g.user.is_liked(message.id) %}
          <form method="POST" action="/messages/unlike/{{ message.id }}">
            <button class="btn btn-primary"><i class="fas fa-star fa-sm"></i></button>
          </form>
          {% else %}
          <form method="POST" action="/messages/like/{{ message.id }}">
            <button class="btn btn-outline-primary btn-sm">
              <i class="far fa-star fa-sm"></i>
            </button>
          </form>
          {% endif %}
        </a>
      </div>
    </li>
    {% endfor %}
    {% else %}
    <p> {{ user.username }} Has no liked messages! </p>
    {% endif %}

  </ul>
</div>
{% endblock %}
